:root {
  --color-main: #F3F1E5;
  --color-border: #D9D9D9;
  --color-scroll: #242323;
  --color-input: #D5C9DD;
  --color-red: #D94844;
  --color-text: black;
}

html.dark {
  --color-main: #242323;
  --color-border: #292929;
  --color-scroll: #F3F1E5;
  --color-input: #bf9cd7;
  --color-red: #D94844;
  --color-text: white;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("/public/images/back.jpg");
  background-size: cover;
  accent-color: var(--color-input);
}

ul, li {list-style: none;}

/* 스크롤바 꾸미기 */
::-webkit-scrollbar {
  width: 0.5rem;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: var(--color-scroll);
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--color-input);
}